

body{
    display: flex;
    flex-direction: column;
    
    justify-content: center ;
    align-items: center;
    
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background: hsl(212, 45%, 89%);
    height: 80vh ;
    


}
#container{
    background: white;
    width: 300px;
    padding: 25px;
    border-radius: 25px;

}
img{
    width: 100%;
    border-radius: 25px;

}
h2{
    font-weight: 700;
    color:hsl(218, 44%, 22%)

}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding:5px;
}

.attribution { 
    font-size: 11px;
    margin-top: 10px;
 }
    .attribution a { color: hsl(228, 45%, 44%); }